shop/src/test/resources/datasets/db.dtd

<!ELEMENT dataset (
    KUNDE*,
    ADRESSE*,
    ARTIKEL*,
    BESTELLUNG*,
    POSITION*)>

<!ELEMENT KUNDE EMPTY>
<!ATTLIST KUNDE
    PK_KUNDE CDATA #REQUIRED
    NACHNAME CDATA #REQUIRED
    VORNAME CDATA #IMPLIED
    EMAIL CDATA #REQUIRED
    PASSWORD CDATA #IMPLIED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT ADRESSE EMPTY>
<!ATTLIST ADRESSE
    PK_ADRESSE CDATA #REQUIRED
    PLZ CDATA #REQUIRED
    ORT CDATA #REQUIRED
    STRASSE CDATA #IMPLIED
    HAUSNR CDATA #IMPLIED
    FK_KUNDE CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT ARTIKEL EMPTY>
<!ATTLIST ARTIKEL
    PK_ARTIKEL CDATA #REQUIRED
    KATEGORIE CDATA #REQUIRED
    BESCHREIBUNG CDATA #REQUIRED
    PREIS CDATA #IMPLIED
    AUF_LAGER CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT BESTELLUNG EMPTY>
<!ATTLIST BESTELLUNG
    PK_BESTELLUNG CDATA #REQUIRED
    FK_KUNDE CDATA #REQUIRED
    IDX CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

<!ELEMENT POSITION EMPTY>
<!ATTLIST POSITION
    PK_POSITION CDATA #REQUIRED
    FK_BESTELLUNG CDATA #REQUIRED
    FK_ARTIKEL CDATA #REQUIRED
    ANZAHL CDATA #REQUIRED
    IDX CDATA #REQUIRED
    ERZEUGT CDATA #REQUIRED
    AKTUALISIERT CDATA #REQUIRED
>

